.header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-logo-img {
  margin-right: 41px;
}
.header-label-img,
.header-profil-img {
  margin-right: 33px;
}
.header-input {
  appearance: none;
}
.header-label {
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  top: 75px;
  height: 764px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
}
.menu-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 37px 34px;
}
.menu-li-first {
  padding-bottom: 24px;
}
.menu-li-category {
  padding-bottom: 12px;
}
.menu-li {
  padding: 0 0 11px 20px;
}
.menu-li-last {
  padding: 0 0 20px 20px;
}
.menu-link-category {
  font-size: 14px;
  line-height: 17px;
  color: $pink;
}
.menu-link {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.menu-close-btn {
  position: absolute;
  right: 17px;
  top: 16px;
  background: none;
  border: none;
  outline: none;
}
.header-input:checked ~ .menu {
  display: block;
}
.menu-display {
  display: none;
}
